<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.example" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
     <appender name="socket" class="com.splunk.logging.TcpAppender">
        <RemoteHost>localhost</RemoteHost>
        <Port>9000</Port>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%thread %level: %msg%n</pattern>
        </layout>
    </appender>

    <logger name="splunk.logger" additivity="false" level="INFO">
        <appender-ref ref="socket"/>
    </logger>


    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>